---
// Importing the necessary components
import Layout from "../layouts/Layout.astro";
import CookieBanner from "../components/Cookie.astro";

// Defining the interface for the social media data
interface SocialMedia {
  link: string;
  icon: string;
  name: string;
}

// Data for social media links
const socialMedia: SocialMedia[] = [
  {
    link: "https://github.com/fujitime",
    icon: "i-myna-brand-github",
    name: "GitHub",
  },
  {
    link: "https://www.facebook.com/kang.komen.798",
    icon: "i-myna-brand-facebook",
    name: "Facebook",
  },
];

---
<Layout
  title="Fuji Halim Rabani"
  description="Halo! Saya Fuji Halim Rabani, seorang penjelajah internet yang menghabiskan banyak waktu di depan layar. Saya menikmati bermain Anki dan Duolingo, membaca manga, menonton anime, serta sesekali menulis dan berolahraga."
>
  <div class="flex items-center justify-center min-h-70vh p-12">
    <div class="w-full grid gap-4 max-w-xl slide-enter-content">
      <h1 class="dark:text-#e5e7eb text-4xl font-bold">
        Fuji <span class="text-sm font-normal opacity-75 ml-1">atau <span class="bold underline">Waltahh</span></span>
      </h1>

      <div>
        <p>Halo! 👋 Saya Fuji Halim Rabani, seorang penjelajah internet.</p>
        <p>Ya, itu gelar yang saya berikan untuk diri sendiri karena, jujur saja, saya menghabiskan banyak waktu di depan layar.</p>
      </div>

      <div class="mt-4">
        <p>Kegiatan sehari-hari saya, Bermain Anki dan Duolingo. Terdengar produktif? Mungkin.</p>
        <p>Di sela-sela kesibukan yang sebenarnya tidak terlalu sibuk, saya suka membaca manga, menonton anime, dan scroll Facebook—aktivitas yang cukup manusiawi di zaman sekarang.</p>
      </div>

      <div class="mt-4">
        <p>Oh ya, meskipun tidak sering, saya juga suka menulis dan berolahraga.</p>
        <p>Menulis adalah cara saya menuangkan pikiran-pikiran random yang berlarian di kepala, sementara olahraga... yah, setidaknya saya mencoba. Dan itu yang penting, kan?</p>
      </div>

      <div class="w-20 h-1px bg-gray opacity-50 mx-auto mt-4"></div>

      <div class="text-sm mt-4">
        <p>Temukan saya di:</p>
        <div class="flex items-center justify-start gap-4 mt-2">
          {socialMedia.map((url) => (
            <a
              href={url.link}
              class="btn-normal flex items-center justify-center gap-2 transition-all duration-300 ease-in-out hover:opacity-100 hover:bg-gray-600 opacity-90"
              target="_blank"
              rel="external nofollow noopener noreferrer"
            >
              <span class={["inline-block", "w-4", "h-4", url.icon].join(" ")} />
              {url.name}
            </a>
          ))}
        </div>
      </div>
    </div>
  </div>

  <CookieBanner />
</Layout>
